.overlayed-video {
    position: relative;
    width: 100%;
    height: 500px;
}

.overlayed-video video {
    position: absolute; 
    max-width: 100%; 
    max-height: 100%;
    height: 500px;
    object-fit: cover;
}

.overlayed-video p {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    text-align: center
}

@media (min-width: 768px) {
    .overlayed-video p {
        font-size: 2.2em; /* Larger size for bigger screens */
    }
}

